<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Runner1">
    <classes>
      <class name="Product.CreateProductTest"/>
     
    </classes>
  </test> <!-- Test -->
  
  <test  name="Runner2">
    <classes>
      <class name="Product.CreateProductTest"/>
      <class name="Campaings.CreateCampaingTest"/>
    
    </classes>
  </test> <!-- Test -->
  
  <test name="Runner3">
    <classes>
     
      <class name="Campaings.CreateCampaingTest"/>
      <class name="OrganizationVtiger.CreateOrgTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
